@font-face {
    font-family: "Museo 700";
    src: url(../font/Museo700-Regular.woff);
}

.nav-link{
    font-family: "Museo 700";
    color: #773710!important;

    margin-left: 20px;

    
    &:hover{
        color:#602d0d !important;
    }
    i{
       display: none;
    }
    
   
}
.jumbotron-first{
    
    background-image: linear-gradient(#d8b080, #c3a384);
}

@media (min-width: 992px) {
    
    .jumbotron-first{
        margin-top: -70px;
    }
     
    .nav-link{
        i{
            display: inline-block;
            font-size: 20px !important;
            font-weight: bold;
        }
    }
 }